<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Postage Calculator</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Postage Calculator</h3>
      </div>
<!--
      <div class="jumbotron">
        <h1>Calculate your shipping costs</h1>
        <p class="lead">for free.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
      </div>
-->

		<div class="container">
			<form action="/rates/" method="GET" id="shipment">
				<div class="form-group">
					<label for="orig">Source Zip Code</label>
					<input type="text" value="98144" class="form-control" name="orig" placeholder="Source Zip Code">
				</div>
				<div class="form-group">
					<label for="dest">Destination Zip Code</label>
					<input type="text" value="98225" class="form-control" name="dest" placeholder="Destination Zip Code">
				</div>
				<div class="form-group">
					<label for="type">Item Type</label>
					<select class="form-control" name="type">
						<option>parcel</option>
						<option>flat</option>
                        <option>letter</option>
						<option>postcard</option>
					</select>
				</div>
				<div class="form-group">
					<label for="length">Dimensions</label>
					<div class="row">
						<div class="col-xs-2">
							<input type="text" value="12" class="form-control" name="length" placeholder="L">
						</div>
						<div class="col-xs-2">
							<input type="text" value="12" class="form-control" name="width" placeholder="W">
						</div>
						<div class="col-xs-2">
							<input type="text" value="12" class="form-control" name="height" placeholder="H">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="pounds">Pounds</label>
					<input type="text"  value="12" class="form-control" name="pounds" placeholder="Pounds">
				</div>
				<div class="form-group">
					<label for="ounces">Ounces</label>
					<input type="text" value="12" class="form-control" name="ounces" placeholder="Ounces">
				</div>
				<button class="btn btn-default" type="button" data-toggle="collapse"
				data-target="#moreOptions" aria-expanded="false" aria-controls="moreOptions">
					Show more options
				</button>

				<div class="form-group">
					<div class="collapse" id="moreOptions">

						<div class="form-group">
							<label for="shipDate">Shipment date</label>
							<input type="text" value="" class="form-control" name="shipDate">
						</div>

						<div class="form-group">
							<label for="value">Value of item(s)</label>
							<input type="text" class="form-control" name="value" placeholder="Value">
						</div>

						<div class="form-group">
							<label>Other options</label>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="hazardous"> Contains hazardous material</input>
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="nonrectangular"> Nonrectangular Box </input>
								</label>
							</div>
							<div class="checkbox" name="fragile">
								<label>
									<input type="checkbox"> Fragile
								</label>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label>Carrier</label><br>
					<label class="checkbox-inline">
						<input type="checkbox" checked> USPS
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" checked> FedEx
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" checked> UPS
					</label>
				</div>

				<div class="form-group">
					<button type="submit" id="submitBtn"class="btn btn-primary">
                        Calculate!
                    </button>
                <!-- Button style button
					<button type="button" id="submitBtn" class="btn btn-primary">
                        Calculate!
                    </button>
                -->
				</div>
			</form>

      <div id="error"></div>
      <div id="results"></div>

      <footer class="footer">
        <p>&copy; Company 2014</p>
      </footer>

    </div> <!-- /container -->

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Mustache -->
    <script src="node_modules/mustache/mustache.js"></script>
    <!-- Bootstrap -->
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="javascripts/results.js"></script>
    <script>
        $('#shipment').submit(function (e) {
            e.preventDefault();
            var resultsDisplay = $('#results');
            var errorDisplay = $('#error');
            var formData = $('#shipment').serializeArray().reduce(function (obj, item) {
                obj[item.name] = item.value;
                return obj;
            }, {});
            $.get(
                '/rates-api',
                formData,
                function(data) {
                    //$(resultsDisplay).html(data);
                    displayNewResults(resultsDisplay, errorDisplay, data);
                }
            );
        })
    </script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
    Logic for 'submit' button -->
  </body>
</html>
